.center
  %h1 Control Panel
  %br

  %h4
    = link_to "Add a new album", new_album_path

  %br
  %h4
    = link_to "Add a new picture", new_picture_path

  %br
  %br
  %br
  %br
  = link_to "Logout", :logout, :method => :post

