.center
  %script{:src => 'galleria.classic.js'}
  %h1 Control Panel
  %br

  %h2
    Albums:
  %h4
    = link_to "View all albums", albums_path
  %br
  %h4
    = link_to "Add a new album", new_album_path

  %br
  %h2
    Pictures:
  %h4
    = link_to "Add a new picture", new_picture_path

  %br
  %br
  %br
  %br
  = link_to "Logout", :logout, :method => :post

