.container-group
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-title
        %h4
          Albums
      -@albums.each do |album|
        %li.nav-header{:class => ("active" if params[:album] == album.name)}
          =link_to "#{album.name}", admin_order_url(:album => album.name)

  .container
    .content.gallery
      %h1.center
        = @album.nil? ? "Re-order" : @album.name
      - if @album.nil?
        %h4.center
          Choose an album to re-order pictures
      =#TODO  display @pictures collection as thumbnails
      - if @album
        %table
          - @pictures.in_groups_of(2) do |picture_group|
            %tr.photo-row
              - picture_group.each do |picture|
                %td.photo
                  - if picture
                    = image_tag picture.filename
            %tr.ordering
              - picture_group.each do |picture|
                %td
                  - if picture
                    = select_tag(:order, options_for_select([picture.ordering]))
