.container
  .content.contact
    .center
      %p If you would like to make a purchase, or if you have any questions,
      %p please e-mail or call at your convenience.
      %br
      %p
        %strong Chris Gordon
      %p
        %strong +1 (312) 527 1036
      %p
      %a{:href => "mailto:cgordonphoto@gmail.com"}
        %strong cgordonphoto@gmail.com
