.container
  %script{:src => 'galleria.classic.js'}
  .row
    %h4.light-grey.center{style: "margin-top:10px;margin-bottom:25px;"}
      About the Artist
    .span7.light-grey.about-text
      %p Chris Gordon began photography as a teen. She spent many hours in the darkroom throughout High School and College. With the advent of the digital camera, she immersed herself in it once again.
      %p Since then she has travelled to parts of Africa, South America, Asia, Europe and the Middle East.
      %p “I am so grateful to have had the opportunity to see these diverse parts of the world. Meeting interesting people and establishing relationships is a valuable experience.”
      %p She particularly enjoys the challenge of wildlife photography; anything (or nothing!) can happen on any given day. There are no guarantees – which make a sighting, and a captured photograph, all the more special.
      %p Proceeds from the sale of her photographs go toward those in need in the areas she has visited, including: women farmers in Kenya, Bwindi Community Hospital in Southwestern Uganda, refugee girls and orphaned schoolchildren in Nairobi and those fighting to save elephants from poachers in East Africa.
    .span5
      .row.center{:style=>"margin-left:auto;margin-right:auto;"}
        -#TODO: use cloudinary? cl_image_tag
        =image_tag "CSGHeadshot.bmp", :height => "309", :width => "216", :class=>'img-polaroid'
      .row.center.light-grey{:style=>"font-size:13px;margin-left:auto;margin-right:auto;"}
        %p Member: North American Nature Photography Association
        %p Photographic Society of America
        %p Center for Photographic Art, Carmel, CA
  .row
    %hr
    .span12.contact-info.light-grey.center
      %p If you have a question or would like to make a purchase, please e-mail or call at your convenience.
      %p +1 (312) 527-1036
      %a{:href => "mailto:cgordonphoto@gmail.com"}
        %p cgordonphoto@gmail.com
%br
%br
