.container
  .content
    .row
      .span12
        %p Chris Gordon began photography as a teen. She spent many hours in the darkroom throughout High School and College. With the advent of the digital camera, she immersed herself in it once again.
        %br  
        %p Since then she has travelled to parts of Africa, South America, Asia, Europe and the Middle East.
        %p “I am so grateful to have had the opportunity to see these diverse parts of the world. Meeting interesting people and establishing relationships is a valuable experience.”
        %br  
        %p She particularly enjoys the challenge of wildlife photography; anything (or nothing!) can happen on any given day. There are no guarantees – which make a sighting, and a captured photograph, all the more special.
        %br  
        %p Proceeds from the sale of her photographs go toward those in need in the areas she has visited, including: women farmers in Kenya, Bwindi Community Hospital in Southwestern Uganda, orphaned schoolchildren in Nairobi and those fighting to save elephants from poachers in East Africa.
        %br  
        %div
          %br
            %img.style6{:height => "309", :src => "CSGHeadshot.bmp", :width => "216"}/
          %br  
          %p Member: North American Nature Photography Association
          %p Photographic Society of America              
