.container
  .content
    .center
      %p If you would like to make a purchase, or if you have any questions,
      %p please e-mail or call at your convenience.
      %br
      %p
        %strong Chris Gordon
      %p
        %strong (312) 527 1036
      %p
        %strong cgordonphoto@gmail.com  
