.row-fluid
  %script{:src => 'galleria.classic.js'}
  .span1
    %br
    %br
    = link_to 'Back', :back, :style => 'color:lightgrey;margin-left:15%;font-size:13px;'

  .span11
    - @pictures.in_groups_of(4).each do |picture_group|
      .row{:style=>"text-align:center;"}
        - picture_group.compact.each do |picture|
          .span3
            .row
              = cl_image_tag picture.cloudinary_public_id, :width => 200, :title=>"#{picture.title}", :style => "padding:25px;"
            .row
              .center.frame-titles
                = picture.title

