.container-fluid.home
  #galleria{style: "margin-left:auto; margin-right:auto; max-width:100%;"}
    - @pictures.each do |picture|
      = cl_image_tag(picture.cloudinary_public_id, quality: 'jpegmini', sign_url: true, style: "max-width:100%")
  %script{:src => 'galleria.classic.js'}
  :javascript
    Galleria.configure({
                        debug: false,
                        autoplay: 2000,
                        fullscreenDoubleTap: true,
                        showCounter: false,
                        showImagenav: false,
                        showInfo: false,
                        thumbDisplayOrder: false,
                        thumbnails: false,
                        transition: 'fade',
                        touchTransition: 'fadeslide',
                        transitionSpeed: 3000,
                        trueFullscreen: true,
                        pauseOnInteraction: false
                       });
    Galleria.ready(function() {
      this.bind("pause", function(e) {
        var gallery = Galleria.get(0); // gallery is now the first galleria instance
        gallery.play();
      });
    });

    Galleria.run('#galleria');

