.container-fluid.home
  #galleria
    - @pictures.each do |picture|
      = cl_image_tag picture.cloudinary_public_id
  %script{:src => 'galleria.classic.js'}
  :javascript
    Galleria.configure({
                        debug: false,
                        autoplay: 2000,
                        fullscreenDoubleTap: true,
                        showCounter: false,
                        showImagenav: false,
                        showInfo: false,
                        thumbnails: false,
                        transition: 'fade',
                        transitionSpeed: 3000,
                        trueFullscreen: true
                       });
    Galleria.run('#galleria');
