.container-fluid.home
  #galleria
    - @pictures.each do |picture|
      = image_tag picture.filename
  %script{:src => 'galleria.classic.js'}
  :javascript
    Galleria.configure({
                        //debug: false TODO: false for production
                        autoplay: 2000,
                        fullscreenDoubleTap: true,
                        showCounter: false,
                        showImagenav: false,
                        showInfo: false,
                        thumbnails: false,
                        transition: 'fade',
                        transitionSpeed: 3000,
                        trueFullscreen: true
                       });
    Galleria.run('#galleria');
