.container
  .content
    .center
      %h1 Pricing
      %br
      %p 8 x 10 print:    $60
      %p 8 x 12 print:    $75
      %p 11 x 14 print:   $90
      %p 12 x 18 mounted and laminated on foamcore:  $125
      %p Other sizes are available - please ask.
      %br  
      %p Framing is custom and varies depending on the material, matting, etc.
      %p Please call to discuss your specific needs.
      %br
      %a{:href => "frames.html"} Please click here to see framing options.
      %br  
      %p Images are displayed in lower resolution for ease of viewing on your computer. Actual prints will be of the highest quality.
      %p Please note that color calibration varies from monitor to monitor. Final product may appear slightly different than what you see on your computer.
      %br  
      %p If you would like to make a purchase please e-mail or call at your convenience.
      %h3 (312) 527 1036
      %br
      %a{:href => "mailto:cgordonphoto@gmail.com"}
        %h3 cgordonphoto@gmail.com
