.container
  .content.pricing
    .center
      %h1.under Pricing
      %br
      .ridge.blue
        %h3 Photo Prints
        %p 8 x 10:    $60
        %p 11 x 14:   $65
        %p 12 x 18:   $70
      %br  
      .ridge.blue
        %h3 Canvas Wrap
        %p 12 x 18:   $85
        %p 16 x 20:   $95
        %p 18 x 24:   $115
        %p 20 x 30:   $140
      %br
      %br
      %p *Other sizes available
      %br
      %br
      %br  
      %p If you would like to make a purchase, please e-mail or call at your convenience.
      %h4 (312) 527 1036
      %a{:href => "mailto:cgordonphoto@gmail.com"}
        %h4 cgordonphoto@gmail.com
