%ul.nav.nav-list#filters
  %li.nav-header
    %h5{:style => 'font-weight:normal;text-shadow:none;'}
      ALBUMS
  %li.inactive
    %a{:href => "#", "data-filter" => "*"} All
  -@albums.each do |album|
    %li{:class => (params[:album] == album.name ? "active" : "inactive")}
      %a{:href => "#", "data-filter" => ".#{album.css_filter_name}"} #{album.name.capitalize}
