.container-fluid
  .row-fluid
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-title Albums
        %li.nav-header Africa
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Middle East
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Asia
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header South America
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
