.container-fluid
  .row-fluid
    .span2
    .span10
      %script{:src => 'jquery.isotope.js'}
      =# render 'gallery/sidebar'
      - if @album.nil?
        .photo-gallery
          - @albums.each do |album|
            - album.pictures.each do |picture|
              .photo{:class => album.name.downcase.strip.gsub(' ', '-')}
                = image_tag picture.filename
