.container-group
  = render 'gallery/sidebar'
  .container
    .content.gallery
      %h1.center
        = title_text(@album)
      =#TODO  display @pictures collection as thumbnails
      - if @album
        %table
          - @pictures.in_groups_of(2) do |picture_group|
            %tr.photo-row
              - picture_group.each do |picture|
                %td.photo
                  = image_tag picture.filename if picture
