.container-fluid
  .row-fluid
    .span2
    .span10
      %script{:src => 'jquery.isotope.js', :type => "application/javascript"}
      =# render 'gallery/sidebar'
      - if @album.nil?
        .content.gallery
          - @albums.each do |album|
            %div{:class => album.name.downcase.strip.gsub(' ', '-')}
              - album.pictures.each do |picture|
                = image_tag picture.thumbnail_name
