.container-fluid
  .row-fluid.min-buffer
    .span2.album-list
      = render 'gallery/sidebar'
    .span10
      %script{:src => 'assets/isotope.pkgd.min.js'}
      - if @album.nil?
        .photo-gallery
          - @albums.each do |album|
            - album.pictures.each do |picture|
              .photo{:class => album.name.downcase.strip.gsub(' ', '-')}
                = link_to image_tag(picture.filename), picture_path(picture)
