:javascript
  albumNames = "#{Album.all.map(&:name)}"
  alert(albumNames)

.container-fluid
  %script{:src => 'galleria.classic.js'}
  .row-fluid.min-buffer
    .span2.album-list
      = render 'gallery/sidebar'
    .span10
      %script{:src => 'assets/isotope.pkgd.min.js'}
      - if @album.nil?
        .photo-gallery.isotope
          - @albums.each do |album|
            - album.pictures.each do |picture|
              .photo.isotope-item{:class => album.name.downcase.strip.gsub(' ', '-')}
                = link_to cl_image_tag(picture.cloudinary_public_id, :title=>"#{picture.title}"), picture_path(picture)
