.container-group
  = render 'gallery/sidebar'
  .container
    .content.gallery
      %h1.center
        = @album.nil? ? "Gallery" : @album.name
      - if @album.nil?
        %h4.center
          Please select an album on the left
        = render "home/contact"
      =#TODO  display @pictures collection as thumbnails
      - if @album
        %table
          - @pictures.in_groups_of(2) do |picture_group|
            %tr.photo-row
              - picture_group.each do |picture|
                %td.photo
                  = image_tag picture.filename if picture
