-#TODO disable right-click
.row-fluid
  %script{:src => 'galleria.classic.js'}
  .span2
    %br
    %br
    = link_to 'Back', :back, :style => 'color:lightgrey;margin-left:15%;font-size:13px;'

  .span8
    .center
      = cl_image_tag @picture.cloudinary_public_id, {:style=>"max-width:800px;max-height:700px;"}

      -#TODO -style description, color
      .light-grey
        %br
        %h4= @picture.title
        %h6= @picture.description

  .span2
