.container {
  //  margin-left: 50px;
  //  margin-right: 50px;
  width: 600px;
  text-color: darkslategrey;
}

.well.sidebar-nav {
  border: ridge;
}

.container-group {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content.gallery {
  margin-left: 25px;
  margin-right:auto;
  width: 650px;
  background-color: lightgray;
}

.content.contact {
  background-color: lightsteelblue;
}

.row-fluid {
  width: 15px;
}

.sidebar-nav {
  float: left;
  //display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  //font-color: darkslategrey;
  border: none;
  width: 132px;
  padding-left: 0px;
  padding-right: 5px;

  .nav-title {
    text-decoration: underline;
  }
}

.nav-list {
  width: 107px;
  margin-right: auto;
  margin-left: auto;
}

.photo-row {
  padding: 5px;
}

.photo-row {
  .photo {
  width: 45%;
  padding: 10px;
}}

.ordering {
  width: 45%;
  padding: 10px;
}

.active.nav-header {
  background-color: lightsteelblue;
  a {
    background-color: grey;
  }
  a > :hover {
    background-color: lightsteelblue;
  }
}

.nav-header {
  a {
    color: #4C0000;
  }
}

#galleria {
  width: 700px;
  height: 400px;
  background: #000
}
