.container {
  //  margin-left: 50px;
  //  margin-right: 50px;
  width: 50%;
}

.row-fluid {
  width: 15px;
}

.sidebar-nav {
  float: left;
  //display: inline-block;
  margin-left: 0;
  margin-right: auto;
  background: none;
  border: none;
  width: 20%;
}

.nav-list {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
