.container {
  //  margin-left: 50px;
  //  margin-right: 50px;
  width: 600px;
}

.container-group {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.content.gallery {
  margin-left: 25px;
  margin-right:auto;
  width: 650px;
}

.row-fluid {
  width: 15px;
}

.sidebar-nav {
  float: left;
  //display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEFDFE;
  border: none;
  width: 132px;
  padding-left: 0px;
  padding-right: 5px;
}

.nav-list {
  width: 107px;
  margin-right: auto;
  margin-left: auto;
}

.photo-row {
  padding: 5px;
}

.photo-row {
  .photo {
  width: 45%;
  padding: 10px;
}}

.active.nav-header {
  background-color: #F0F0F0;
  a {
    background-color: grey;
  }
}
