.container {
  margin-left: auto;
  margin-right: auto;

  text-color: darkslategrey;
}

.well.sidebar-nav {
  border: ridge;
}

.container-group {
  margin-right: auto;
  margin-left: auto;
}

.content.gallery {
  margin-left: 25px;
  margin-right: 25px;
  background-color: lightgray;
  overflow: visible;
  display: inline-flex;
}

.gallery {
  margin-left: 25px;
  margin-right: 25px;
 // background-color: lightgray;
  overflow: visible;
  display: inline-flex;
}

.content.contact {
  background-color: lightsteelblue;
}

.sidebar-nav {
  float: left;
  //display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  //font-color: darkslategrey;
  border: none;
  padding-left: 0px;
  padding-right: 5px;

  .nav-title {
    text-decoration: underline;
  }
}

.nav-list {
  width: 107px;
  margin-right: auto;
  margin-left: auto;
}

.photo {
  padding: 3px;
}

//.photo-row {
//  padding: 5px;
//}
//
//.photo-row {
//  .photo {
//  width: 45%;
//  padding: 10px;
//}}

.ordering {
  width: 45%;
  padding: 10px;
}

.active.nav-header {
  background-color: lightsteelblue;
  a {
    background-color: grey;
  }
  a > :hover {
    background-color: lightsteelblue;
  }
}

.nav-header {
  a {
    color: #4C0000;
  }
}

#galleria {
  width: 850px;
  height: 525px;
  background: black;
}
