#galleria {
  width: 900px;
  height: 600px;
  background: black;
}

//.photo {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//}

.photo-center {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container.home {
  //width: 800px;
}

.content.home {
  //width: 100%;
}

.content {
  .about {
    background-color: lightsteelblue;
    margin-right: 10px;
    margin-left: 10px;
    //max-width: 553px;
  }
}

.content.pricing {
  //background-color: #FEFDFE;
  .under {
    text-decoration: underline;
  }
}

.ridge {
  border: ridge;
  padding: 10px;
}

.blue {
  background-color: lightsteelblue;
}

.light-blue-shadow {
  text-shadow: lightblue 1px 1px 1px;
}

.grey-blue {
  color: #6b797f;
}

.lightgrey {
  background-color: lightgrey;
}

.light-grey {
  text-color: lightgrey;
}

table {
  table-layout: fixed;
}

tr.price-style > td {
  //color:black;
  font-weight: bold;
  font-size: 18px;
  //text-shadow: lightblue 0px 0px 1px;
}

.table-striped tbody>tr:nth-child(even)>td,.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #718087;
  border-color: lightblue;
  text-align: center;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #aabac1;
  border-color: lightblue;
  text-align: center;
}

.well {
  background-color: #aabac1;
  border-color: #aabac1;
}

