#galleria {
  width: 900px;
  height: 600px;
  background: black;
}

//.photo {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//}

.photo-center {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container.home {
  //width: 800px;
}

.content.home {
  //width: 100%;
}

.about {
  background-color: #aabac1;
  color: #333333;
  border-color: lightblue;
  border-radius: 20px;
  padding: 15px;
  font-family: rosario;
  font-size: 18px;
  font-weight: bold;
  text-shadow: lightblue 1px 1px 1px;

  background-image: -moz-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -ms-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aabac1), to(#95AEBA));
  background-image: -webkit-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -o-linear-gradient(top, #aabac1, #95AEBA);
  background-image: linear-gradient(top, #aabac1, #95AEBA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'aabac1, endColorstr='#'95AEBA, GradientType=0);
}

.about-text {
  font-size: 18px;
  font-family: rosario;
}

.content.pricing {
  //background-color: #FEFDFE;
  .under {
    text-decoration: underline;
  }
}

.ridge {
  border: ridge;
  padding: 10px;
}

.blue {
  background-color: lightsteelblue;
}

.light-blue-shadow {
  text-shadow: lightblue 1px 1px 1px;
}

.grey-blue {
  color: #6b797f;
}

.lightgrey {
  background-color: lightgrey;
}

.light-grey {
  text-color: lightgrey;
}

table {
  table-layout: fixed;
}

tr.price-style > td {
  //color:black;
  font-weight: bold;
  font-size: 18px;
  text-shadow: lightblue 0px 1px 1px;
}

.table-striped tbody>tr:nth-child(even)>td,.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #718087;
  border-color: lightblue;
  text-align: center;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #aabac1;
  border-color: lightblue;
  text-align: center;
}

.well {
  background-color: #aabac1;
  border-color: #aabac1;

  background-image: -moz-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -ms-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aabac1), to(#95AEBA));
  background-image: -webkit-linear-gradient(top, #aabac1, #95AEBA);
  background-image: -o-linear-gradient(top, #aabac1, #95AEBA);
  background-image: linear-gradient(top, #aabac1, #95AEBA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'aabac1, endColorstr='#'95AEBA, GradientType=0);
}

.img-polaroid {
  border-color: lightgrey;
  background-color: grey;
  border-radius: 20px;
}

.center.frame-titles {
  color:lightgrey;
  margin-top:0px;
  margin-bottom:30px;
}
