#galleria {
  width: 900px;
  height: 600px;
  background: black;
}

//.photo {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//}

.photo-center {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container.home {
  //width: 800px;
}

.content.home {
  //width: 100%;
}

.content {
  .about {
    background-color: lightsteelblue;
    margin-right: 10px;
    margin-left: 10px;
    //max-width: 553px;
  }
}

.content.pricing {
  //background-color: #FEFDFE;
  .under {
    text-decoration: underline;
  }
}

.ridge {
  border: ridge;
  padding: 10px;
}

.blue {
  background-color: lightsteelblue;
}

.lightgrey {
  background-color: lightgrey;
}

table.center {
  //margin: 10px;
}
