//.container {
//  margin-left: 150px;
//}

.photo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.photo-center {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container.home {
  width: 800px;
}

.content.home {
  width: 100%;
}
