.center {
  width: 600px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}

.bold label {
  font-weight: bold;
}

//TODO: this isn't being recognized yet
.center {
    label textarea {
    margin: 100px;
  }
}

