.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
      %a.brand{:href => root_path} Chris Gordon Photography
      .nav
        %ul.nav
          %li
            %a{:href => root_path} Home
          %li
            %a{:href => gallery_index_path} Gallery
          %li
            %a{:href => pricing_path} Pricing
          %li
            %a{:href => about_path} About
          %li
            %a{:href => contact_path} Contact
