.navbar.navbar-fixed-top{style: "margin-bottom:0px;"}
  .navbar-inner{style: "min-width: 200px;"}
    .brand{style: 'text-shadow:none; margin-left:1px;'}
      #full-brand
        Chris Gordon Photography
      #mobile-brand
        Chris Gordon Photo
    %ul.nav.main#menu
      %li
        %a{href: root_path, class: ("active" if request.path == root_path)} Home
      %li
        %a#gallery-link{href: gallery_reset_path, class: ("active" if request.path == gallery_index_path)} Gallery
      %li
        %a{href: pricing_path, class: ("active" if request.path == pricing_path)} Pricing
      %li
        %a{href: about_path, class: ("active" if request.path == about_path)} About
      %li
        %a{href: blog_path, class: ("active" if request.path == blog_path)} Blog
    %ul.nav.pull-right#menu-info
      %li.smaller
        %a{:href => "mailto:cgordonphoto@gmail.com"} cgordonphoto@gmail.com
      %li.smaller
        %a{:href => '#'} +1 (312) 527-1036
    %ul#mobile-menu
