.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{:href => root_path} Chris Gordon Photography
      %ul.nav
        %li
          %a{:href => gallery_index_path} Gallery
        %li
          %a{:href => pricing_path} Pricing
        %li
          %a{:href => about_path} About
        %li
          %a{:href => contact_path} Contact
      %ul.nav.pull-right
        %li.smaller
          %a{:href => contact_path} cgordonphoto@gmail.com
        %li.smaller
          %a{:href => contact_path} (312) 527-1036
