.navbar.navbar-fixed-top
  .navbar-inner{style: "min-width: 530px;"}
    .brand{style: 'text-shadow:none;'}
      Chris Gordon Photography
    %ul.nav.main
      %li
        %a{href: root_path, class: ("active" if request.path == root_path)} Home
      %li
        %a#gallery-link{href: gallery_reset_path, class: ("active" if request.path == gallery_index_path)} Gallery
      %li
        %a{href: pricing_path, class: ("active" if request.path == pricing_path)} Pricing
      %li
        %a{href: about_path, class: ("active" if request.path == about_path)} About
    %ul.nav.pull-right
      %li.smaller
        %a{:href => "mailto:cgordonphoto@gmail.com"} cgordonphoto@gmail.com
      %li.smaller
        %a{:href => '#'} (312) 527-1036
